#{extends 'main.html' /}
#{set title:'用户登陆--欧孚通信' /}

<style>
<!--
	a{				
		text-decoration:none;				
	}
	a:hover{			
		font-size:20px;
				
		}
-->
</style>

<form action="/login" method="post">
	<table border="0"  height="100%" align="center">
		<tr height="35%">
			<td colspan="2"><img src="../images/logo1.png" width="400px"></td>
			<td align="right" valign="bottom" scope="col"><a href="">登陆</a>|<a href="@routes.Application.register">注册</a>|<a href="@routes.Application.xiazai">App下载</a></td>
		</tr>
		<tr  height="50%" width="100%">
			<td colspan="2" style="margin: 0"><img src="../images/0.jpg" width="450px" height="400px"></td>
			<td style="margin: 0; background: url('../images/index3.png');" width="370px" height="400px" align="center">
				<p>
					<br/>
					<label></label>
					<h2>欢迎登录</h2>
				</p>
				<p>
					<label>*用户名:</label>
					<input type="text" name="loginName" size="20" placeholder="会员名 /邮箱 /手机号 ">
				</p>
				<p>
					<label>*密    &nbsp;码:</label>
					<input type="password" name="password" size="21" placeholder="登陆密码">
				</p>
					${flash.error}
				<p style="font-size: 15">
					<input type="checkbox" name="box"/>一周内自动登录&nbsp;&nbsp;&nbsp;<a href="retrieve">修改密码?</a>
				</p>
				<div id=login>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=""><input type="image" src="/images/login.png" width="110px" style="color: white;"></a></p>
				</div>
				<p>还没有账号?<a href="@{Application.register}">马上注册</a></p>
			</td>
		</tr>
	</table>						
</form>
<hr style="margin-top: 80px"/>
<div id="footer" style="margin-top: -20px">沪ICP备13015057号-1 版权所有 上海欧孚通信技术有限公司 </div>
