#{extends 'main.html' /}
#{set title:'亲子机激活' /}

	<table align="center" style="text-align:right;" border="1">
		<tr>
			<td>*家长手机号码:<input type="text" name="phone" size="21"></td>
		</tr>
		<tr>
			<td>*短信校验码:<input type="text" name="text" size="21"></td>
		</tr>
		<tr style="margin-right: 72px">
			<td><input type="submit" value="发送短信校验码"><h5>(友情提醒:该短信校验码将会发送到家长手机)</h5></td>
		</tr>
		<tr>
			<td>*亲子机号码:<input type="text" name="tel" value="" size="19"><span class="error">${}</span></td>		
		</tr>
		<tr>
			<td>*再次确认亲子机号码:<input type="text" name="tel" value="" size="19"></td>
		</tr>
		<tr>
			<td>*亲子机初始位置:
				<select id="city" name="city">
			<option  value="请选择城市">请选择城市</option>
			<option  value="安徽">安徽</option>
			<option  value="澳门">澳门</option>
			<option  value="北京">北京</option>
			<option  value="重庆">重庆</option>
			<option  value="福建">福建</option>
			<option  value="甘肃">甘肃</option>
			<option  value="广东">广东</option>
			<option  value="广西壮族">广西壮族</option>
			<option  value="贵州">贵州</option>
			<option  value="海南">海南</option>
			<option  value="河北">河北</option>
			<option  value="黑龙江">黑龙江</option>
			<option  value="河南">河南</option>
			<option  value="湖北">湖北</option>
			<option  value="湖南">湖南</option>
			<option  value="江苏">江苏</option>
			<option  value="江西">江西</option>
			<option  value="吉林">吉林</option>
			<option  value="辽宁">辽宁</option>
			<option  value="内蒙古">内蒙古</option>
			<option  value="宁夏回族">宁夏回族</option>
			<option  value="青海">青海</option>
			<option  value="山东">山东</option>
			<option  value="上海">上海</option>
			<option  value="山西">山西</option>
			<option  value="陕西">陕西</option>
			<option  value="四川">四川</option>
			<option  value="台湾">台湾</option>
			<option  value="天津">天津</option>
			<option  value="香港">香港</option>
			<option  value="新疆维唔尔">新疆维唔尔</option>
			<option  value="西藏">西藏</option>
			<option  value="云南">云南</option>
			<option  value="浙江">浙江</option>
		</select><h5>(友情提醒:该位置为亲子机的初始定位位置)</h5>
			</td>
		</tr>		
		<tr><td><input type="submit" value="激活">&nbsp;&nbsp;<input type="submit" value="返回欧孚关爱平台 "></td></tr>
	</table>

