#{extends 'main.html' /}
#{set title:'用户注册--定位世界' /}
<style>
<!--
	a{				
		text-decoration:none;				
	}
	a:hover{			
		font-size:30px;
				
		}
-->
</style>

	<table border="0"  height="100%" align="center" >
		<tr>
			<td colspan="2"><img src="../images/logo1.png" width="400px"></td>
			<td align="right" valign="bottom" scope="col"><a>登陆</a>|<a>注册</a>|<a>App下载</a></td>
		</tr>
		<tr width="800px">
		<td style=" margin: 0; background: url('../images/index3.png');" width="570px" height="400px"  >
				<h2 style="text-align: left;">用户注册</h2>
				<table border="0" height="400px">
					<tr>
						<td width="100px" style="text-align: right">*登录名:</td>
						<td><input id="uname" name="uname" type="text" placeholder="会员名 / 邮箱  / 电话" size="21"></td>
					</tr>
					<tr>
						<td style="text-align: right">*密码:</td>
						<td><input id="pass" name="pass" type="password" size="19" placeholder="6~16位字母、数字或者字符组合" /></td>
					</tr>
					<tr>
						<td style="text-align: right">*确认密码:</td>
						<td><input id="pass2" name="pass2" type="password" size="19" placeholder="重复输入密码" /></td>
					</tr>
					<tr>
						<td style="text-align: right">*电子邮箱:</td>
						<td><input id="email" name="email" type="text" size="21" placeholder="请输入您的常用邮箱" /></td>
					</tr>
					<tr>
						<td style="text-align: right">*地址:</td>
						<td>
							<select name="province" id="province" onchange="$.country.getCity()" autocomplete="off">
				        <option value=""></option>
				        <option value="110000">北京</option>
				        <option value="120000">天津</option>
				        <option value="130000">河北省</option>
				        <option value="140000">山西省</option>
				        <option value="150000">内蒙古自治区</option>
				        <option value="210000">辽宁省</option>
				        <option value="220000">吉林省</option>
				        <option value="230000">黑龙江省</option>
				        <option value="310000">上海</option>
				        <option value="320000">江苏省</option>
				        <option value="330000">浙江省</option>
				        <option value="340000">安徽省</option>
				        <option value="350000">福建省</option>
				        <option value="360000">江西省</option>
				        <option value="370000">山东省</option>
				        <option value="410000">河南省</option>
				        <option value="420000">湖北省</option>
				        <option value="430000">湖南省</option>
				        <option value="440000">广东省</option>
				        <option value="450000">广西壮族自治区</option>
				        <option value="460000">海南省</option>
				        <option value="500000">重庆</option>
				        <option value="510000">四川省</option>
				        <option value="520000">贵州省</option>
				        <option value="530000">云南省</option>
				        <option value="540000">西藏自治区</option>
				        <option value="610000">陕西省</option>
				        <option value="620000">甘肃省</option>
				        <option value="630000">青海省</option>
				        <option value="640000">宁夏回族自治区</option>
				        <option value="650000">新疆维吾尔自治区</option>
				        <option value="710000">台湾省</option>
				        <option value="810000">香港特别行政区</option>
				        <option value="820000">澳门特别行政区</option>
				        <option value="990000">海外</option>
     			 </select>
			      <select name="city" id="city" onchange="$.country.getDistrict()" autocomplete="off">
			        <option value=""></option>
			        <option value="120100">天津市</option>
			      </select>
     			 <select name="district" id="district" onchange="$.country.getZip()" autocomplete="off"></select>
      			 <span id="address_text_red"> </span>
						</td>						
					</tr>
					<tr>
						<td style="text-align: right">*验证码:</td>
						<td>
							 <input id="seccode" name="seccode" type="text" size="21"/>
				      		 <img src="http://www.dikool.com/util.php?action=seccode" id="seccodeimg" width="60px"/>看不清？<a href="javascript:void(0)" onclick="chgimg();return false;">换一张</a><span id="seccode_text_red"> </span>
						</td>
					</tr>
					<tr align="center">
						<td colspan="2 align="center">
							<input id="agree" name="agree" type="checkbox" />我已阅读并同意<a href="http://www.dikool.com/index.php?model=user&amp;action=reg#">《欧孚关爱服务条款》</a> 
						</td>
					</tr>
					<tr align="center">
						<td colspan="2"><a href="javascript:submitForm();" align="center">同意协议并注册</a></td>
					</tr>
				</table>
     			<p>
     				<label></label>
      				
     			</p>
     
				</p>
			</td>
			<td colspan="2" style="margin: 0"><img src="../images/0.jpg" width="400px" height="400px"></td>
			
		</tr>
	</table>	

	
	