#{extends 'main.html' /}
#{set title:'修改密码--欧孚通信' /}

<style>
<!--
	a{				
		text-decoration:none;				
	}
	a:hover{			
		font-size:30px;
				
		}
-->
</style>


<form name="theform" id="theform" action="http://www.dikool.com/index.php?model=user&amp;action=forgetpwd" method="post">
	<table border="1"  height="100%" align="center" style="margin-top: 90px;border-bottom : 1px solid #6699cc;"  >		
		<tr >
			<td colspan="2"><img src="../images/logo1.png" width="600px" height="px50"></td>
			<td align="right" valign="bottom" scope="col"><a>登陆</a>|<a>注册</a>|<a>App下载</a></td>
		</tr>
		<tr width="1200px">
		
		<td align="center">	
			<div style=" height: -100px;text-align: left" ><h2>找回密码</h2></div><br/><br/><br/><br/>	
			
			<table border="0" style="margin: 0px">								
				<tr>
					<td>*登录名:</td>
					<td><input id="email" name="email" type="text" placeholder="会员名/邮箱 " /></td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr>
					<td>*验证码:</td>
					<td><input id="seccode" name="seccode" type="text" /></td>
					<td><img src="http://www.dikool.com/util.php?action=seccode" id="seccodeimg"  width="80px"/>看不清？<a href="javascript:void(0)" onclick="chgimg();return false;">换一张</a>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<a href="javascript:submitForm();" ><img  src="../images/nl.png" width="125" height="44px" style="margin-left: 80px;margin-top: 40px"></a>
					</td>
				</tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
				<tr></tr>
			</table>
			</td>	
			<td colspan="2" style="margin: 0"><img src="../images/email.jpg" width="200px" height="200px"></td>		
		</tr>
	</table>	
</form>

