#{extends 'location.html' /}
#{set title:'Home' /}

<div id="header" class="navbar-fixed-top">
    <div id="logo"><img src="/images/logo.png"></div>
    <div id="state">
        <p>状态：开机</p>
        <p>电量：33%</p>
        <p>位置：</p>
    </div>
    <div id="menu">
        <span id="mJSDW">
            <div><img src="/images/1.png"></div>
            <div>即时定位</div>
        </span>
        <span id="mLSGJ">
            <div><img src="/images/2.png"></div>
            <div>历史轨迹</div>
        </span>
        <span id="mDSDW">
            <div><img src="/images/3.png"></div>
            <div>定时定位</div>
        </span>
        <span id="mWLGL">
            <div><img src="/images/4.png"></div>
            <div>围栏管理</div>
        </span>
        <span id="mSJSZ">
            <div><img src="/images/5.png"></div>
            <div>手机设置</div>
        </span>
        <span id="mBZZX">
            <div><img src="/images/6.png"></div>
            <div>帮助中心</div>
        </span>
        <span id="mAPPXZ">
            <div><img src="/images/7.png"></div>
            <div>APP下载</div>
        </span>
    </div>
    <div id="info">
        <p>
            <span>首页</span>
            <a id="logout" href="/logout">安全退出</a>
        </p>
        <p>
            <span>当前账户：${user}</span>
            <a id="switchPhone">切换儿童机</a>
        </p>
    </div>
</div>
#{include "Locations/dialogs/history.html" /}
#{include "Locations/dialogs/interval.html" /}
<div id="fence-list-dialog" class="dialog"></div>
<div id="target-config-dialog" class="dialog"></div>
<div id="locateOnTime-dialog-confirm">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>是否进行即时定位？
    </p>
</div>
<div id="map">
</div>
<div id="footer"></div>
<script src="/javascripts/bmap.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/frame.js"></script>
<script src="/javascripts/basic-list.js"></script>
<script src="/javascripts/target-history.js"></script>
<script src="/javascripts/target-interval.js"></script>
