<script type="text/javascript" src="/javascripts/target-config.js"></script>
<div class="target_config">
    <div class="histroy_box">
        <a id="config-icon-close-circle" class="icon-close-circle" style="float:right;margin-right:-15px"></a>
        <div class="icon">
            <ul>
                <li><a id="dial-key" href="#"><span class="call"></span><p>亲情号码</p></a></li>
                <li><a id="quietId" href="#"><span class="nocall"></span><p>免打扰</p></a></li>
                <li><a id="sms-remind" href="#"><span class="warning"></span><p>短信提醒</p></a></li>

                <!--                     <li><a id="clockId" href="#"><span class="clock"></span><p>闹钟</p></a></li> -->

                <li><a id="phone-book" href="#"><span class="phonebook"></span><p>通讯簿</p></a></li>
                <li><a id="terminal-shutdown" href="#"><span class="terminalshutdown"></span><p>关机</p></a></li>
            </ul>
        </div>
    </div>
</div>
<div id="terminal-shutdown-dialog-confirm" title="关机提示" style="display: none;">
    <p>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>是否立即关机？
    </p>
</div>

<div id="dial-key-dialog-confirm" title="保存提示" style="display: none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>拨号设置内容已被修改，是否保存?</p>
</div>
<div id="delete-confirm" title="删除提示" style="display: none; ">
    <p><span class="ui-icon ui-icon-alert" style="float:left;" ></span>是否确认删除?</p>
</div>
<!--设备设置结束-->
<!--拨号开始-->
<div id="dial-key-dialog" class="dial-key" style="display: none">
    <div class="histroy_box">
        <a href="#" id="dial-key-dialog-icon-close-circle" class="config-close icon-close-circle" style="float:right;margin-right:-10px"></a>
        <form id="keyForm">
            <table width="490" border="0" cellspacing="0" cellpadding="0"
                   class="dial_key_box">
                <tr>




                    <td width="139" rowspan="6" class="col5">
                        <img id="targetImage3" src="/lbs-webapp/resources/images/D11.jpg" width="133" height="194" />
                    </td>


                    <td align="center" class="col3">名称</td>
                    <td class="col3">号码</td>
                    <td class="col3">昵称</td>
                </tr>



                <tr>
                    <td align="center" class="col2">SOS键
                        <input type="hidden" id="keyName0" name="keyName0" value="SOS键" />
                        <input type="hidden" id="keySid0" name="keySid0" value="b1b56a2b-978d-431a-a5e6-d5a650d38dc8"/>
                    </td>
                    <td class="col2">
                        <input id="telephoneNumber0" name="telephoneNumber0" value="110" type="text" class="his_input2" />
                    </td>
                    <td class="col2">
                        <input id="nickName0" name="nickName0" value="急救" type="text" class="his_input2" />
                    </td>
                </tr>


                <tr>
                    <td align="center" class="col2">按键1
                        <input type="hidden" id="keyName1" name="keyName1" value="按键1" />
                        <input type="hidden" id="keySid1" name="keySid1" value="a52910e7-b6fa-40c0-ad0c-a5291d513e75"/>
                    </td>
                    <td class="col2">
                        <input id="telephoneNumber1" name="telephoneNumber1" value="15962125937" type="text" class="his_input2" />
                    </td>
                    <td class="col2">
                        <input id="nickName1" name="nickName1" value="爸爸" type="text" class="his_input2" />
                    </td>
                </tr>


                <tr>
                    <td align="center" class="col2">按键2
                        <input type="hidden" id="keyName2" name="keyName2" value="按键2" />
                        <input type="hidden" id="keySid2" name="keySid2" value="337759d9-1a48-4083-8051-3e058c890ce5"/>
                    </td>
                    <td class="col2">
                        <input id="telephoneNumber2" name="telephoneNumber2" value="15102887886" type="text" class="his_input2" />
                    </td>
                    <td class="col2">
                        <input id="nickName2" name="nickName2" value="妈妈" type="text" class="his_input2" />
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="error"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="center"><input type="submit" id="keyButton" class="his_but" style="float:center" value="" /></td>
                </tr>

                <tr>
                    <td class="col6"></td>
                    <td height="51" colspan="3" class="col6" style="line-height:17px; padding:7px"><strong>友情提示：</strong><br />
                        <ol class="hint">
                            <li>按键1为<font color="red">主监护人号码</font>,一旦该号码变更，发送给主监护人的短信将会发送到新号码上，请勿轻易修改该号码</li>
                            <li>号码格式为3到12位数字</li>
                        </ol>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!--拨号结束-->

<div id="quiet-dialog-confirm" title="保存提示" style="display: none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>免打扰设置内容已被修改，是否保存?</p>
</div>
<!--免打扰开始-->
<div id="quiet-dialog" class="dial-key" style="display: none;right:250px">
    <div class="histroy_box">
        <a id="quiet-dialog-icon-close-circle" class="icon-close-circle config-close" style="float:right;margin-right:-10px"></a>
        <form id="quietForm">
            <table border="0" cellspacing="0" cellpadding="0" class="table" style="width:510px">
                <tr>
                    <td align="center" class="col3" style="width:510px">周期</td>
                    <td class="col3">开始时间</td>
                    <td class="col3">结束时间</td>
                </tr>



                <tr>
                    <td class="col2">
                        <input type="hidden" name="quietSid0" id="quietSid0" value="5f4556b4-b867-4646-a9c2-c175cb7dd16d" />
                        <input id="period0" name="period0" type="hidden" value="1111100" />
                        <input type="checkbox" id="quietPeriods00"/>周一
                        <input type="checkbox" id="quietPeriods10"/>周二
                        <input type="checkbox" id="quietPeriods20"/>周三
                        <input type="checkbox" id="quietPeriods30"/>周四
                        <input type="checkbox" id="quietPeriods40"/>周五
                        <input type="checkbox" id="quietPeriods50"/>周六
                        <input type="checkbox" id="quietPeriods60"/>周日
                    </td>
                    <td class="col2"><input type="text" id="startTime0"
                                            name="startTime0" class="his_input1" style="margin-left: 5px;"
                                            value="07:30" readonly="readonly"/></td>
                    <td class="col2"><input type="text" id="endTime0" name="endTime0"
                                            class="his_input1" style="margin-left: 5px;margin-right: 5px;" value="16:30" readonly="readonly"/></td>
                </tr>


                <tr>
                    <td class="col2">
                        <input type="hidden" name="quietSid1" id="quietSid1" value="3fc8c8fa-03e1-418a-a40a-21092d9ada16" />
                        <input id="period1" name="period1" type="hidden" value="0000000" />
                        <input type="checkbox" id="quietPeriods01"/>周一
                        <input type="checkbox" id="quietPeriods11"/>周二
                        <input type="checkbox" id="quietPeriods21"/>周三
                        <input type="checkbox" id="quietPeriods31"/>周四
                        <input type="checkbox" id="quietPeriods41"/>周五
                        <input type="checkbox" id="quietPeriods51"/>周六
                        <input type="checkbox" id="quietPeriods61"/>周日
                    </td>
                    <td class="col2"><input type="text" id="startTime1"
                                            name="startTime1" class="his_input1" style="margin-left: 5px;"
                                            value="01:00" readonly="readonly"/></td>
                    <td class="col2"><input type="text" id="endTime1" name="endTime1"
                                            class="his_input1" style="margin-left: 5px;margin-right: 5px;" value="01:02" readonly="readonly"/></td>
                </tr>


                <tr>
                    <td class="col2">
                        <input type="hidden" name="quietSid2" id="quietSid2" value="48b2bfea-39b8-44c0-889e-be0a91fcb589" />
                        <input id="period2" name="period2" type="hidden" value="0000000" />
                        <input type="checkbox" id="quietPeriods02"/>周一
                        <input type="checkbox" id="quietPeriods12"/>周二
                        <input type="checkbox" id="quietPeriods22"/>周三
                        <input type="checkbox" id="quietPeriods32"/>周四
                        <input type="checkbox" id="quietPeriods42"/>周五
                        <input type="checkbox" id="quietPeriods52"/>周六
                        <input type="checkbox" id="quietPeriods62"/>周日
                    </td>
                    <td class="col2"><input type="text" id="startTime2"
                                            name="startTime2" class="his_input1" style="margin-left: 5px;"
                                            value="01:02" readonly="readonly"/></td>
                    <td class="col2"><input type="text" id="endTime2" name="endTime2"
                                            class="his_input1" style="margin-left: 5px;margin-right: 5px;" value="02:01" readonly="readonly"/></td>
                </tr>

                <tr>
                    <td><div class="error"></div></td>
                </tr>
                <tr>
                    <td colspan="3" align="center"><input type="submit" id="quietButton" class="his_but" style="float:center" value="" /></td>
                </tr>

            </table>
        </form>
    </div>
</div>
<!--免打扰结束-->

<!--白名单开始-->
<div id="white-dialog" class="dial-key" style="display: none;right:270px">
    <div class="histroy_box" style="width: 290px">
        <a class="icon-close-circle config-close" style="float:right;margin-right:-10px"></a>
        <form id="whiteForm">
            <table  border="0" cellspacing="0" cellpadding="0" class="table">
                <tr>
                    <td width="57" height="30" align="center" class="col7">姓名：</td>
                    <td class="col7"><input id="whiteName" name="whiteName" type="text" class="his_input3" value="匿名"/></td>
                    <td class="col7">&nbsp;</td>
                </tr>
                <tr>
                    <td width="57" height="30" align="center" class="col7">号码：</td>
                    <td width="133" class="col7"><input id="whiteSmsNo" name="whiteSmsNo" type="text" class="his_input3"/></td>
                    <td width="96" class="col7">
                        <input type="submit"  id="addWhite" value=""
                               style="background-repeat: no-repeat;background-image: url('/lbs-webapp/resources/images/add.png');">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="col6" align="center"><div id="errorDiv" class="error"></div></td>
                </tr>
                <tr>
                    <td width="57" height="30" align="center" class="col8">列表：</td>
                    <td colspan="2" class="col8">
                        <div class="tellist">
                            <ul id="whiteNo" style="overflow-y:scroll;">

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="51" colspan="3" class="col6" style="line-height:17px; padding:7px"><strong>友情提示：</strong><br />
                        <ol class="hint">
                            <li>手机格式:13300000000,11位手机号码前面不用加"0"；</li>
                            <li>固话格式:02167891234,区号和固话之间不用加减号"-"。</li>
                            <li>电话白名单最多只能添加30个。</li>
                        </ol>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!--白名单结束-->
<!--短信白名单开始-->
<div id="sms-receive-dialog" class="dial-key" style="display: none;right:260px">
    <div class="histroy_box" style="width: 290px">
        <a class="icon-close-circle config-close" style="float:right;margin-right:-10px"></a>
        <form id="smsReceiveForm">
            <table border="0" cellspacing="0" cellpadding="0" class="table">
                <tr>
                    <td width="57" height="30" align="center" class="col7">姓名：</td>
                    <td class="col7"><input id="receiveName" name="receiveName" type="text" class="his_input3" value="匿名"/></td>
                    <td class="col7">&nbsp;</td>
                </tr>
                <tr>
                    <td width="57" height="30" align="center" class="col7">号码：</td>
                    <td width="133" class="col7"><input id="receiveNo" name="receiveNo" type="text" class="his_input3" /></td>
                    <td width="96" class="col7">
                        <input type="submit" id="addreceiveBut" value="" style="background-repeat: no-repeat;background-image: url('/lbs-webapp/resources/images/add.png');">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="col6" align="center"><div id="smsReceiveErrorDiv" class="error"></div></td>
                </tr>
                <tr>
                    <td width="57" height="30" align="center" class="col8">列表：</td>
                    <td colspan="2" class="col8">
                        <div class="tellist">
                            <ul id="smsReceiveListNo" style="background: white;overflow-y:scroll;">

                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td height="51" colspan="3" class="col6" style="line-height:17px; padding:7px"><strong>友情提示：</strong><br />
                        <ol class="hint">
                            <li>手机格式:13300000000,11位手机号码前面不用加"0"；</li>
                            <li>电话白名单最多只能添加30个。</li>
                        </ol>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!--短信白名单结束-->

<div id="sms-remind-dialog-confirm" title="保存提示" style="display: none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>短信提醒设置内容已被修改，是否保存?</p>
</div>
<!--提醒开始-->
<div id="sms-remind-dialog" class="dial-key" style="display: none;right:310px;">
    <div class="histroy_box" style="width: 250px;">
        <a id="sms-remind-dialog-icon-close-circle" class="icon-close-circle config-close" style="float:right;margin-right:-10px"></a>
        <form id="smsRemindForm">
            <table width="250" border="0" cellspacing="0" cellpadding="0"
                   class="table">
                <tr>
                    <td width="109" align="center" class="col2">开关机提醒：</td>
                    <td width="154" class="col2"><input type="hidden" id="smsRemindSid"
                                                        name="smsRemindSid" value=" 30b114e3-a89b-4cb2-b1dc-6f5770ff2785" /> <input
                            class="input-check" id="powerOn" name="powerOn" type="checkbox"
                            checked  />
                    </td>
                </tr>
                <tr>
                    <td align="center" class="col2">低电量提醒：</td>
                    <td width="154" class="col2"><input class="input-check" id="lowerPower"
                                                        name="lowerPower" type="checkbox"
                                                        checked  />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;height:38px;"><input id="smsRemindButton" type="button" class="his_but mr20" style="float:center"/></td>
                </tr>
                <tr>
                    <td height="51" colspan="2" class="col6" style="line-height:17px; padding:7px"><strong>友情提示：</strong><br />
                        <ol class="hint">
                            <li>开启开关机提醒，家长手机会在亲子机开机或者关机时收到短信提醒。</li>
                            <li>开启低电量提醒，家长会在亲子机电量不足时收到短信提醒</li>
                        </ol>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!--提醒结束-->

<div id="clock-dialog-confirm" title="保存提示" style="display: none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>闹铃设置内容已被修改，是否保存?</p>
</div>

<!--闹铃设置开始-->
<div id="clock-dialog" class="dial-key" style="display: none;right:260px">
    <div class="histroy_box">
        <a id="clock-dialog-icon-close-circle" class="icon-close-circle config-close" style="float:right;margin-right:-10px"></a>
        <form id="clockForm">
            <table border="0" cellspacing="0" cellpadding="0"
                   class="table clock_lin" style="width:600px">
                <tr>
                    <td align="center" class="col3" style="width:600px">周期</td>
                    <td align="center" class="col3">闹铃时间</td>
                    <td align="center" class="col3">是否生效</td>
                </tr>



                <tr>
                    <td width="242" align="center" class="col2"><input
                            type="hidden" name="clockSid0" id="clockSid0"
                            value="fb04ec48-fda4-4f23-9a0f-18718cd26c5b" /> <input id="clockPeriod0" name="clockPeriod0"
                                                                                   type="hidden" value="1000111" />
                        <input type="checkbox" id="clockPeriods00"/>周一
                        <input type="checkbox" id="clockPeriods10"/>周二
                        <input type="checkbox" id="clockPeriods20"/>周三
                        <input type="checkbox" id="clockPeriods30"/>周四
                        <input type="checkbox" id="clockPeriods40"/>周五
                        <input type="checkbox" id="clockPeriods50"/>周六
                        <input type="checkbox" id="clockPeriods60"/>周日
                    </td>
                    <td width="109" align="center" class="col2"><label for="textfield"></label>
                        <input id="clockTime0" name="clockTime0" type="text"
                               class="his_input1" value="07:00" readonly="readonly"/></td>
                    <td width="108" align="center" class="col2"><input type="checkbox"
                                                                       class="input-check" id="clockEnable0" name="clockEnable0"
                            /></td>
                </tr>


                <tr>
                    <td width="242" align="center" class="col2"><input
                            type="hidden" name="clockSid1" id="clockSid1"
                            value="f27a1eea-cdac-4f5c-af11-19667231cfbe" /> <input id="clockPeriod1" name="clockPeriod1"
                                                                                   type="hidden" value="1100000" />
                        <input type="checkbox" id="clockPeriods01"/>周一
                        <input type="checkbox" id="clockPeriods11"/>周二
                        <input type="checkbox" id="clockPeriods21"/>周三
                        <input type="checkbox" id="clockPeriods31"/>周四
                        <input type="checkbox" id="clockPeriods41"/>周五
                        <input type="checkbox" id="clockPeriods51"/>周六
                        <input type="checkbox" id="clockPeriods61"/>周日
                    </td>
                    <td width="109" align="center" class="col2"><label for="textfield"></label>
                        <input id="clockTime1" name="clockTime1" type="text"
                               class="his_input1" value="04:03" readonly="readonly"/></td>
                    <td width="108" align="center" class="col2"><input type="checkbox"
                                                                       class="input-check" id="clockEnable1" name="clockEnable1"
                            /></td>
                </tr>


                <tr>
                    <td width="242" align="center" class="col2"><input
                            type="hidden" name="clockSid2" id="clockSid2"
                            value="e61bff66-b2e3-495e-8147-29919f765624" /> <input id="clockPeriod2" name="clockPeriod2"
                                                                                   type="hidden" value="1011000" />
                        <input type="checkbox" id="clockPeriods02"/>周一
                        <input type="checkbox" id="clockPeriods12"/>周二
                        <input type="checkbox" id="clockPeriods22"/>周三
                        <input type="checkbox" id="clockPeriods32"/>周四
                        <input type="checkbox" id="clockPeriods42"/>周五
                        <input type="checkbox" id="clockPeriods52"/>周六
                        <input type="checkbox" id="clockPeriods62"/>周日
                    </td>
                    <td width="109" align="center" class="col2"><label for="textfield"></label>
                        <input id="clockTime2" name="clockTime2" type="text"
                               class="his_input1" value="21:00" readonly="readonly"/></td>
                    <td width="108" align="center" class="col2"><input type="checkbox"
                                                                       class="input-check" id="clockEnable2" name="clockEnable2"
                            /></td>
                </tr>


                <tr>
                    <td colspan="3" align="center"><input type="submit" id="clockButton" value=""
                                                          class="his_but" style="float:center"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!--闹铃设置结束-->

<!--儿童机联系人开始-->
<div id="phone-book-dialog-confirm" title="提示" style="display: none;">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>是否确认清空电话簿?</p>
</div>

<div id="phone-book-dialog" class="phone-book" style="display: none">
    <div class="histroy_box">
        <a href="#" id="phone-book-dialog-icon-close-circle" class="config-close icon-close-circle" style="float:right;margin-right:-10px"></a>
        <form id="phoneBookForm">
            <table width="360" border="0" cellspacing="0" cellpadding="0" class="table">
                <tr><td colspan="5" class="col6" align="right"><div style="font-size: 15px;font-weight:bold;color: #999;margin-top:5px;margin-right: 3px">共<label id="contactSize">40</label>个联系人</div></td></tr>
                <tr>
                    <td width="51" height="30" align="center" class="col6">姓名：</td>
                    <td width="105" class="col6"><input type="text" class="his_input2" id="contactName"  name="contactName" style="width:70px"/></td>
                    <td width="50" class="col6">号码：</td>
                    <td width="125" class="col6"><input type="text" class="his_input3" id="contactTelephoneNumber" name="contactTelephoneNumber"/></td>
                    <td width="47" class="col6">
                        <a id="phoneBookAddButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-add.png" width="17" height="17" align="right" style="margin-right: 2px"/></a>
                        <input type="hidden" id="phoneBookSize" name="phoneBookSize" value="40">
                    </td>
                </tr>
                <tr>
                    <td colspan="5" align="center"><div class="error"></div></td>
                </tr>
                <tr>
                    <td height="30" colspan="5" valign="top">
                        <div class="contacts">
                            <table id="phoneBookTable" border="0" cellpadding="0" cellspacing="0">
                                <tr id="phoneBook-th">
                                    <td width="67" class="col2 contacts_indent">姓名</td>
                                    <td width="108" class="col2">电话号码</td>
                                    <td width="95" class="col2">操作</td>
                                    <td width="95" class="col2">同步状态</td>
                                    <td width="30"class="col2"></td>
                                </tr>



                                <tr id="phoneBook1">
                                    <td width="67" class="col2 contacts_indent">爸爸</td>
                                    <td width="108" class="col2">13973927918</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid1" name="phoneBookSid1" value="001f3ba8-7e22-4830-aae5-09c1d85a7d67">
                                        <input type="hidden" name="phoneBookName1" value="爸爸" />
                                        <input type="hidden" id="phoneBookTelephoneNumber1" name="phoneBookTelephoneNumber1" value="13973927918" />
                                    </td>
                                </tr>


                                <tr id="phoneBook2">
                                    <td width="67" class="col2 contacts_indent">傅子杰</td>
                                    <td width="108" class="col2">137015958081</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid2" name="phoneBookSid2" value="084796e6-8242-405a-a4b2-8aad569fb210">
                                        <input type="hidden" name="phoneBookName2" value="傅子杰" />
                                        <input type="hidden" id="phoneBookTelephoneNumber2" name="phoneBookTelephoneNumber2" value="137015958081" />
                                    </td>
                                </tr>


                                <tr id="phoneBook3">
                                    <td width="67" class="col2 contacts_indent">123</td>
                                    <td width="108" class="col2">12312311233</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid3" name="phoneBookSid3" value="0f9fc1ba-fb65-496c-9d50-3bd6c5434ae6">
                                        <input type="hidden" name="phoneBookName3" value="123" />
                                        <input type="hidden" id="phoneBookTelephoneNumber3" name="phoneBookTelephoneNumber3" value="12312311233" />
                                    </td>
                                </tr>


                                <tr id="phoneBook4">
                                    <td width="67" class="col2 contacts_indent">2342</td>
                                    <td width="108" class="col2">53536535</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid4" name="phoneBookSid4" value="116caa55-11ed-46d3-a15a-e2b28962a844">
                                        <input type="hidden" name="phoneBookName4" value="2342" />
                                        <input type="hidden" id="phoneBookTelephoneNumber4" name="phoneBookTelephoneNumber4" value="53536535" />
                                    </td>
                                </tr>


                                <tr id="phoneBook5">
                                    <td width="67" class="col2 contacts_indent">柔柔的</td>
                                    <td width="108" class="col2">12334456777</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid5" name="phoneBookSid5" value="1262718a-a24b-49c1-9277-6116e74b1d38">
                                        <input type="hidden" name="phoneBookName5" value="柔柔的" />
                                        <input type="hidden" id="phoneBookTelephoneNumber5" name="phoneBookTelephoneNumber5" value="12334456777" />
                                    </td>
                                </tr>


                                <tr id="phoneBook6">
                                    <td width="67" class="col2 contacts_indent">ä½ é¿</td>
                                    <td width="108" class="col2">13287651234</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid6" name="phoneBookSid6" value="1ec97a35-7827-4e05-aaeb-58c0234f99bd">
                                        <input type="hidden" name="phoneBookName6" value="ä½ é¿" />
                                        <input type="hidden" id="phoneBookTelephoneNumber6" name="phoneBookTelephoneNumber6" value="13287651234" />
                                    </td>
                                </tr>


                                <tr id="phoneBook7">
                                    <td width="67" class="col2 contacts_indent">胡世杰德</td>
                                    <td width="108" class="col2">9764649949</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid7" name="phoneBookSid7" value="20e4dc99-fd83-497a-94e2-523ba1ed866e">
                                        <input type="hidden" name="phoneBookName7" value="胡世杰德" />
                                        <input type="hidden" id="phoneBookTelephoneNumber7" name="phoneBookTelephoneNumber7" value="9764649949" />
                                    </td>
                                </tr>


                                <tr id="phoneBook8">
                                    <td width="67" class="col2 contacts_indent">啊啊啊啊</td>
                                    <td width="108" class="col2">13698545884</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid8" name="phoneBookSid8" value="2196ab2c-236f-4dc2-a889-ac73c794f6a0">
                                        <input type="hidden" name="phoneBookName8" value="啊啊啊啊" />
                                        <input type="hidden" id="phoneBookTelephoneNumber8" name="phoneBookTelephoneNumber8" value="13698545884" />
                                    </td>
                                </tr>


                                <tr id="phoneBook9">
                                    <td width="67" class="col2 contacts_indent">1231</td>
                                    <td width="108" class="col2">12312312332</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid9" name="phoneBookSid9" value="255fdeef-2a3b-4a56-ad98-8e83abd275c1">
                                        <input type="hidden" name="phoneBookName9" value="1231" />
                                        <input type="hidden" id="phoneBookTelephoneNumber9" name="phoneBookTelephoneNumber9" value="12312312332" />
                                    </td>
                                </tr>


                                <tr id="phoneBook10">
                                    <td width="67" class="col2 contacts_indent">妈妈</td>
                                    <td width="108" class="col2">13983695633</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid10" name="phoneBookSid10" value="266d98c5-68d1-4ce4-adbd-62129b446f11">
                                        <input type="hidden" name="phoneBookName10" value="妈妈" />
                                        <input type="hidden" id="phoneBookTelephoneNumber10" name="phoneBookTelephoneNumber10" value="13983695633" />
                                    </td>
                                </tr>


                                <tr id="phoneBook11">
                                    <td width="67" class="col2 contacts_indent">爸爸</td>
                                    <td width="108" class="col2">13303851998</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid11" name="phoneBookSid11" value="359edea5-e7ec-4ba9-aed9-d868e96cf8f3">
                                        <input type="hidden" name="phoneBookName11" value="爸爸" />
                                        <input type="hidden" id="phoneBookTelephoneNumber11" name="phoneBookTelephoneNumber11" value="13303851998" />
                                    </td>
                                </tr>


                                <tr id="phoneBook12">
                                    <td width="67" class="col2 contacts_indent">1</td>
                                    <td width="108" class="col2">86369573</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid12" name="phoneBookSid12" value="3fd10bfb-8b0c-4ec0-abdc-6c1d69df12eb">
                                        <input type="hidden" name="phoneBookName12" value="1" />
                                        <input type="hidden" id="phoneBookTelephoneNumber12" name="phoneBookTelephoneNumber12" value="86369573" />
                                    </td>
                                </tr>


                                <tr id="phoneBook13">
                                    <td width="67" class="col2 contacts_indent">323</td>
                                    <td width="108" class="col2">36543543653</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid13" name="phoneBookSid13" value="461c8fa9-267a-48c4-a023-5bbb6bcb77f8">
                                        <input type="hidden" name="phoneBookName13" value="323" />
                                        <input type="hidden" id="phoneBookTelephoneNumber13" name="phoneBookTelephoneNumber13" value="36543543653" />
                                    </td>
                                </tr>


                                <tr id="phoneBook14">
                                    <td width="67" class="col2 contacts_indent">姨婆</td>
                                    <td width="108" class="col2">13512379560</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid14" name="phoneBookSid14" value="48c2b5bc-5020-4bf6-afa7-9986f1b3c88a">
                                        <input type="hidden" name="phoneBookName14" value="姨婆" />
                                        <input type="hidden" id="phoneBookTelephoneNumber14" name="phoneBookTelephoneNumber14" value="13512379560" />
                                    </td>
                                </tr>


                                <tr id="phoneBook15">
                                    <td width="67" class="col2 contacts_indent">杨文俊</td>
                                    <td width="108" class="col2">18012086598</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid15" name="phoneBookSid15" value="4d6d3e17-a78a-4137-9a6a-de6959dae36e">
                                        <input type="hidden" name="phoneBookName15" value="杨文俊" />
                                        <input type="hidden" id="phoneBookTelephoneNumber15" name="phoneBookTelephoneNumber15" value="18012086598" />
                                    </td>
                                </tr>


                                <tr id="phoneBook16">
                                    <td width="67" class="col2 contacts_indent">123</td>
                                    <td width="108" class="col2">12312341234</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid16" name="phoneBookSid16" value="55fee26d-e0af-4d7c-a2c2-be2e9a521243">
                                        <input type="hidden" name="phoneBookName16" value="123" />
                                        <input type="hidden" id="phoneBookTelephoneNumber16" name="phoneBookTelephoneNumber16" value="12312341234" />
                                    </td>
                                </tr>


                                <tr id="phoneBook17">
                                    <td width="67" class="col2 contacts_indent">æ ·å­</td>
                                    <td width="108" class="col2">13266668888</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid17" name="phoneBookSid17" value="57090379-f324-4f98-a6bb-1ed0168d3f12">
                                        <input type="hidden" name="phoneBookName17" value="æ ·å­" />
                                        <input type="hidden" id="phoneBookTelephoneNumber17" name="phoneBookTelephoneNumber17" value="13266668888" />
                                    </td>
                                </tr>


                                <tr id="phoneBook18">
                                    <td width="67" class="col2 contacts_indent">88</td>
                                    <td width="108" class="col2">23656</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid18" name="phoneBookSid18" value="58587fe7-51fc-498f-b811-a1a536197982">
                                        <input type="hidden" name="phoneBookName18" value="88" />
                                        <input type="hidden" id="phoneBookTelephoneNumber18" name="phoneBookTelephoneNumber18" value="23656" />
                                    </td>
                                </tr>


                                <tr id="phoneBook19">
                                    <td width="67" class="col2 contacts_indent">4243</td>
                                    <td width="108" class="col2">334356365</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid19" name="phoneBookSid19" value="5f2af7e6-0bd0-40b1-bcaa-ad1a1881e2ea">
                                        <input type="hidden" name="phoneBookName19" value="4243" />
                                        <input type="hidden" id="phoneBookTelephoneNumber19" name="phoneBookTelephoneNumber19" value="334356365" />
                                    </td>
                                </tr>


                                <tr id="phoneBook20">
                                    <td width="67" class="col2 contacts_indent">234</td>
                                    <td width="108" class="col2">345455434</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid20" name="phoneBookSid20" value="61ae6cc8-5b35-4ce7-8f6e-e56656705879">
                                        <input type="hidden" name="phoneBookName20" value="234" />
                                        <input type="hidden" id="phoneBookTelephoneNumber20" name="phoneBookTelephoneNumber20" value="345455434" />
                                    </td>
                                </tr>


                                <tr id="phoneBook21">
                                    <td width="67" class="col2 contacts_indent">123</td>
                                    <td width="108" class="col2">123123123</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid21" name="phoneBookSid21" value="64622669-63b9-435b-82fe-4e44aba386b7">
                                        <input type="hidden" name="phoneBookName21" value="123" />
                                        <input type="hidden" id="phoneBookTelephoneNumber21" name="phoneBookTelephoneNumber21" value="123123123" />
                                    </td>
                                </tr>


                                <tr id="phoneBook22">
                                    <td width="67" class="col2 contacts_indent">123</td>
                                    <td width="108" class="col2">15750899828</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid22" name="phoneBookSid22" value="66aa4464-bcf5-4e4e-8cc9-5b0cabe83ed2">
                                        <input type="hidden" name="phoneBookName22" value="123" />
                                        <input type="hidden" id="phoneBookTelephoneNumber22" name="phoneBookTelephoneNumber22" value="15750899828" />
                                    </td>
                                </tr>


                                <tr id="phoneBook23">
                                    <td width="67" class="col2 contacts_indent">姑妈</td>
                                    <td width="108" class="col2">13102311082</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid23" name="phoneBookSid23" value="6823469d-6dda-4aa3-966e-eacd51365507">
                                        <input type="hidden" name="phoneBookName23" value="姑妈" />
                                        <input type="hidden" id="phoneBookTelephoneNumber23" name="phoneBookTelephoneNumber23" value="13102311082" />
                                    </td>
                                </tr>


                                <tr id="phoneBook24">
                                    <td width="67" class="col2 contacts_indent">黄想起</td>
                                    <td width="108" class="col2">18621698698</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid24" name="phoneBookSid24" value="87b4bc9a-36c5-4b68-aa86-ce0dce9f6597">
                                        <input type="hidden" name="phoneBookName24" value="黄想起" />
                                        <input type="hidden" id="phoneBookTelephoneNumber24" name="phoneBookTelephoneNumber24" value="18621698698" />
                                    </td>
                                </tr>


                                <tr id="phoneBook25">
                                    <td width="67" class="col2 contacts_indent">w</td>
                                    <td width="108" class="col2">前往往往让人人天天太阳</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid25" name="phoneBookSid25" value="8a38138e-bdfe-48ac-a0a6-5ea717d5cdba">
                                        <input type="hidden" name="phoneBookName25" value="w" />
                                        <input type="hidden" id="phoneBookTelephoneNumber25" name="phoneBookTelephoneNumber25" value="前往往往让人人天天太阳" />
                                    </td>
                                </tr>


                                <tr id="phoneBook26">
                                    <td width="67" class="col2 contacts_indent">12</td>
                                    <td width="108" class="col2">110</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid26" name="phoneBookSid26" value="900b61a0-e2b6-4b94-a277-660985f3e680">
                                        <input type="hidden" name="phoneBookName26" value="12" />
                                        <input type="hidden" id="phoneBookTelephoneNumber26" name="phoneBookTelephoneNumber26" value="110" />
                                    </td>
                                </tr>


                                <tr id="phoneBook27">
                                    <td width="67" class="col2 contacts_indent">艳红高东</td>
                                    <td width="108" class="col2">255</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid27" name="phoneBookSid27" value="9158e703-1b2c-4a2b-adb5-b184dec00518">
                                        <input type="hidden" name="phoneBookName27" value="艳红高东" />
                                        <input type="hidden" id="phoneBookTelephoneNumber27" name="phoneBookTelephoneNumber27" value="255" />
                                    </td>
                                </tr>


                                <tr id="phoneBook28">
                                    <td width="67" class="col2 contacts_indent">ç¨å¡</td>
                                    <td width="108" class="col2">13388866688</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid28" name="phoneBookSid28" value="9d4e814c-95c1-4b6f-85fe-582d5ea1a6ef">
                                        <input type="hidden" name="phoneBookName28" value="ç¨å¡" />
                                        <input type="hidden" id="phoneBookTelephoneNumber28" name="phoneBookTelephoneNumber28" value="13388866688" />
                                    </td>
                                </tr>


                                <tr id="phoneBook29">
                                    <td width="67" class="col2 contacts_indent">yy</td>
                                    <td width="108" class="col2">15248525577</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid29" name="phoneBookSid29" value="a56c30a8-98b4-4aa9-8a54-a118d13d2b7f">
                                        <input type="hidden" name="phoneBookName29" value="yy" />
                                        <input type="hidden" id="phoneBookTelephoneNumber29" name="phoneBookTelephoneNumber29" value="15248525577" />
                                    </td>
                                </tr>


                                <tr id="phoneBook30">
                                    <td width="67" class="col2 contacts_indent">赵文超</td>
                                    <td width="108" class="col2">13381197387</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid30" name="phoneBookSid30" value="a5c8205e-4f4b-4fc1-8bf0-366653ec3e5d">
                                        <input type="hidden" name="phoneBookName30" value="赵文超" />
                                        <input type="hidden" id="phoneBookTelephoneNumber30" name="phoneBookTelephoneNumber30" value="13381197387" />
                                    </td>
                                </tr>


                                <tr id="phoneBook31">
                                    <td width="67" class="col2 contacts_indent">爸爸</td>
                                    <td width="108" class="col2">13303851998</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid31" name="phoneBookSid31" value="ae40a90f-eb82-45e2-a53a-18ea4c1ac5a4">
                                        <input type="hidden" name="phoneBookName31" value="爸爸" />
                                        <input type="hidden" id="phoneBookTelephoneNumber31" name="phoneBookTelephoneNumber31" value="13303851998" />
                                    </td>
                                </tr>


                                <tr id="phoneBook32">
                                    <td width="67" class="col2 contacts_indent">唐国刚</td>
                                    <td width="108" class="col2">4556</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid32" name="phoneBookSid32" value="b50401ce-3029-4a74-9d8d-5fc19bb5194c">
                                        <input type="hidden" name="phoneBookName32" value="唐国刚" />
                                        <input type="hidden" id="phoneBookTelephoneNumber32" name="phoneBookTelephoneNumber32" value="4556" />
                                    </td>
                                </tr>


                                <tr id="phoneBook33">
                                    <td width="67" class="col2 contacts_indent">妈妈</td>
                                    <td width="108" class="col2">13626020197</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid33" name="phoneBookSid33" value="b88544ce-1c01-4fab-a3e0-6f24679f675e">
                                        <input type="hidden" name="phoneBookName33" value="妈妈" />
                                        <input type="hidden" id="phoneBookTelephoneNumber33" name="phoneBookTelephoneNumber33" value="13626020197" />
                                    </td>
                                </tr>


                                <tr id="phoneBook34">
                                    <td width="67" class="col2 contacts_indent">小宝</td>
                                    <td width="108" class="col2">13960921979</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid34" name="phoneBookSid34" value="bab50e47-be5b-4015-9e64-bf522c4f409b">
                                        <input type="hidden" name="phoneBookName34" value="小宝" />
                                        <input type="hidden" id="phoneBookTelephoneNumber34" name="phoneBookTelephoneNumber34" value="13960921979" />
                                    </td>
                                </tr>


                                <tr id="phoneBook35">
                                    <td width="67" class="col2 contacts_indent">4223</td>
                                    <td width="108" class="col2">45647545</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid35" name="phoneBookSid35" value="c2b57f37-02fa-487a-ab56-38fb3cee6f3a">
                                        <input type="hidden" name="phoneBookName35" value="4223" />
                                        <input type="hidden" id="phoneBookTelephoneNumber35" name="phoneBookTelephoneNumber35" value="45647545" />
                                    </td>
                                </tr>


                                <tr id="phoneBook36">
                                    <td width="67" class="col2 contacts_indent">妈妈</td>
                                    <td width="108" class="col2">13314301818</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid36" name="phoneBookSid36" value="c6d28add-87bd-4c36-96da-919c7c95078b">
                                        <input type="hidden" name="phoneBookName36" value="妈妈" />
                                        <input type="hidden" id="phoneBookTelephoneNumber36" name="phoneBookTelephoneNumber36" value="13314301818" />
                                    </td>
                                </tr>


                                <tr id="phoneBook37">
                                    <td width="67" class="col2 contacts_indent">2344</td>
                                    <td width="108" class="col2">3456345356</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid37" name="phoneBookSid37" value="cded547d-ba75-4050-9be7-a315f806f700">
                                        <input type="hidden" name="phoneBookName37" value="2344" />
                                        <input type="hidden" id="phoneBookTelephoneNumber37" name="phoneBookTelephoneNumber37" value="3456345356" />
                                    </td>
                                </tr>


                                <tr id="phoneBook38">
                                    <td width="67" class="col2 contacts_indent">测试</td>
                                    <td width="108" class="col2">18797300994</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid38" name="phoneBookSid38" value="e8bfc3fe-ccc3-4286-af91-b4047eedef94">
                                        <input type="hidden" name="phoneBookName38" value="测试" />
                                        <input type="hidden" id="phoneBookTelephoneNumber38" name="phoneBookTelephoneNumber38" value="18797300994" />
                                    </td>
                                </tr>


                                <tr id="phoneBook39">
                                    <td width="67" class="col2 contacts_indent">姥姥</td>
                                    <td width="108" class="col2">15265291917</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid39" name="phoneBookSid39" value="ebe85f3c-757e-4037-91dd-71bdcf7052c4">
                                        <input type="hidden" name="phoneBookName39" value="姥姥" />
                                        <input type="hidden" id="phoneBookTelephoneNumber39" name="phoneBookTelephoneNumber39" value="15265291917" />
                                    </td>
                                </tr>


                                <tr id="phoneBook40">
                                    <td width="67" class="col2 contacts_indent">sun</td>
                                    <td width="108" class="col2">154</td>
                                    <td width="95" class="col2">

                                        删除


                                    </td>
                                    <td width="95" class="col2">


                                        未同步

                                    </td>
                                    <td width="30"class="col2">
                                        <a class="phoneBookDeleteButton" href="#"><img src="/lbs-webapp/resources/images/dynamic-delete.png" width="16" height="16"></a>
                                        <input type="hidden" id="phoneBookSid40" name="phoneBookSid40" value="f4e9b06a-3119-4a97-b789-10e30b0d7266">
                                        <input type="hidden" name="phoneBookName40" value="sun" />
                                        <input type="hidden" id="phoneBookTelephoneNumber40" name="phoneBookTelephoneNumber40" value="154" />
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="col2" style="text-align: right;height:38px;"><input type="submit" id="phoneBookButton" class="his_but" style="float:center" value="" /></td>
                    <td class="col2">&nbsp;</td>
                    <td colspan="2" class="col2" style="text-align: left;height:38px;"><input type="button" id="phoneBookClearButton" class="clear_contacts_but" style="float:center" value="" /></td>
                </tr>
                <tr>
                    <td height="51" colspan="5" class="col6" style="line-height:17px; padding:7px"><strong>友情提示：</strong><br />
                        <ol class="hint">
                            <li>通讯簿最多只能添加30个联系人。</li>
                            <li>姓名最多输入4个汉字。</li>
                            <li>手机格式:13300000000,11位手机号码前面不用加"0"；</li>
                            <li>固话格式:02167891234,区号和固话之间不用加减号"-"。</li>
                            <li>添加或删除联系人后请点击保存按钮。</li>
                            <li>假如需要清除通讯簿中所有联系人，则点击清空电话簿按钮。</li>
                        </ol>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!--儿童机联系人结束-->