@charset "utf-8";

/*定义关闭按钮*/
.icon-close-circle{
    /*background-position:0 -32px;*/
    background-image:url("/images/close_icon.png");
    _background-image:url("/images/close_icon_ie6.png");/*  for IE6  */
    position:relative;
    margin-top:-18px;
    display:block;
    width:20px;
    height:20px;
    cursor:pointer;
    *top:0px;/*for ie7*/
    *left:5px;/*for ie7*/
    *float:right;/*for ie7*/
}
.icon-close-circle:hover{
    background-position:37px 0px;
    background-image:url("/images/close_icon.png");
    _background-position:0 -32px;/* for IE6 */
    _background-image:url("/images/close_icon_ie6.png")/* for IE6 */
}

#history-icon-close-circle{
    margin-left:298px!important;
}

#interval-icon-close-circle{
    margin-left:365px!important;
}

#fence-list-icon-close-circle{
    margin-left: 275px;
}

#config-icon-close-circle{
    margin-left: 265px;
    _margin-left:275px;
}
#fence-update-close{
    margin-left:330px;
    *left:2px;/*for ie7*/
    *top:2px;/*for ie7*/
}

.content{
    padding: 5px;
    background:#1289D5;
    font-size:14px;
}
/*定义所有弹出框的属性*/
.dialog{
  display:none; 
  position:absolute;
}
#history-dialog{
    width:310px;
    left: 210px;
    top: 70px;
}
.history-text{
    width:80px;
}

#interval-dialog{
    width:400px;
    left: 240px;
    top: 70px;
}

#fence-list-dialog{
    width:290px;
    z-index: 8;
    left: 720px;
    top: 65px;
}

#target-config-dialog{
    width:280px;
    z-index: 8;
    left: 720px;
    top: 65px;
}
#fence-update-dialog{
    width:300px;
    z-index:999;
    padding-top:0;
    margin-left:-100px;
}

.table{
    background-color:#FCFDFD;
}

.panel{
    overflow:hidden;
    zoom:1;
    display:block;
}

.dial{
    background-position:-11px 0;
}
.quiet{
     background-position:-66px 0;
}
.white-list{
    background-position:-123px 0;
}
.reminding{
    background-position:-288px 0;
    padding-left:-10px;
}
.clock{
    background-position:-236px 0;
}
.sms{
    background-position:-179px 0;
}
.config-close{
    margin:-18px 0 0 300px;
    float:right;
    left:8px;
    overflow:hidden;
    display:inline;
    *left:2px;/*for ie7*/
}         /* 拨号之类的关闭 */
.config-tabs{
    display:none; 
    top:30px; 
    position:absolute;
    background:#1289D5;
    margin-left:0px;
    width:310px;
}         /* 拨号之类的弹出框 */
.dialkey-config-tabs{
    display:none; 
    top:30px; 
    position:absolute;
    background:#1289D5;
    margin-left:0px;
    width:560px;
}         /* 拨号弹出框 */

.config-table{
    margin:5px 0 5px 5px;
    width:300px;
    height:150px;
    font-size:14px;
}
.dialkey-config-table{
    margin:5px 0 5px 5px;
    width:420px;
    height:150px;
    font-size:14px;
}
.sms-remind-table{
    height:100px;
}

.operation-text{
    width:80px;
}
#operation-div{
    position: absolute;
}
#operation-list-btn{
    position: relative;
    margin-bottom:0px;
    cursor:pointer;
}

#operation-list{
    position: relative;
    cursor:pointer;
    height: 500px;
}
#operation-list-title{
    float: left; 
    padding-left:0px;
    width: 20%；
}
 #operation-list-content{
    float: left;
    margin-bottom:5px;
}