
/* 覆盖pnotify的默认属性 */
.ui-pnotify {
    top: 70px;
}

body{margin:0; padding:0; font-family:Arial; background:url(/images/body_bg.png) repeat-x; font-size:12px; color:#703a0f}
ul,ul li{margin:0; padding:0; list-style:none}
dl,dl dt, dl dd{margin:0; padding:0;}
a,a:hover{text-decoration:none}
a{color:#814f27}
a:hover{color:#d65127}
img{border:0}
.fl{float:left}
.claer{clear:both}
html, body {height: 100%;overflow:auto; min-width:1280px;}
.top{width:100%; height:66px; overflow:hidden; border-bottom:3px solid #fda045}
.top a.logo{float:left; background:url(/images/logo.png) no-repeat; width:227px; height:66px;}
.top div.logo{float:left; background:url(/images/logo.png) no-repeat; width:227px; height:66px;}
.top .select_name{ width:124px; height:24px; margin:19px 0 0 15px; border:none; color:#5c4f43; line-height:24px; padding:0 0 0 8px;}

/*日志开启关闭*/
.log_button{height:14px; width:48px; float:right; margin:5px 10px 0 0; *margin:3px 10px 0 0}
.log_off,.log_on{background:url(/images/close_but.png) no-repeat; float:left; width:48px; height:14px; cursor:pointer}
.log_off{background-position:0px 0px}
.log_on{background-position:0px -14px}

/*当前用户*/
.current_user{float:right; margin:8px 10px 0 0; width:180px;}
.current_user ul li{ text-align:right; line-height:20px;width:180px;}
.current_user ul li b{color:#046ab8}
.current_user ul li b a{color:#046ab8}
.current_user ul li b a:hover{color:#046ab8}
.current_user ul li span a{color:#e0621a; margin:0 5px 0 0; float:right;display:inline;}
.current_user ul li span a:hover{color:#e0621a}
.current_user ul li img{margin:5px 0 0 0; float:right; display:inline;*margin:3px 0 0 0; }

/*选择用户*/
.chose_user{float:left; width:210px; height:66px;}
.chose_left_but a,.chose_rig_but a{float:left; background:url(/images/chose_but.png) no-repeat; width:11px; height:18px; cursor:pointer; margin:24px 0; display:inline}
.chose_left_but a{background-position:-11px 0px;}
.chose_rig_but a{background-position:0px 0px;}
.chose_left_but a:hover{background-position:-11px -18px} 
.chose_rig_but a:hover{background-position:0px -18px} 
.chose_user ul{float:left; margin:0}
.chose_user ul li{width:170px; height:64px; float:left; margin:0 8px}
.chose_user ul li .avatar{float:left; width:56px; height:58px; margin:4px 10px 0 7px; display:inline}
.chose_user ul li div{line-height:18px; float:left; margin:2px 0 0 0; padding:0; width:95px; overflow:hidden}
.chose_user ul li div span{float:left; width:36px;}
.chose_user ul li div b{color:#0092d8; font-weight:normal; float:left}
.battery0,.battery20,.battery40,.battery60,.battery80,.battery100{background:url(/images/battery.png); width:19px; height:10px; float:right; margin:4px 3px 0 5px;display:inline;;overflow:hidden}
.battery0{background-position:0px 0px}
.battery20{background-position:0px -10px}
.battery40{background-position:0px -20px}
.battery60{background-position:0px -30px}
.battery80{background-position:0px -40px}
.battery100{background-position:0px -50px}

/*导航*/
.top_nav{float:right; margin:0;width:620px; height:66px; display:inline; }
.top_nav ul{width:642px;float:left;}
.top_nav ul li,.top_nav ul li.locate a,.top_nav ul li.equipment a,.top_nav ul li.historys a,.top_nav ul li.intervals a,.top_nav ul li.fences a,.top_nav ul li.help a,.top_nav ul li.management a,.top_nav ul li.feedback a,.top_nav ul li.resource-download a
	{
	width: 59px;
	height: 66px;
	float: left;
	background: url(/images/top_nav.png);
	cursor: pointer;
	margin-right: 20px;
	display: inline;
	overflow: hidden
}
.top_nav ul li a span{color:#534426; margin:46px 0 0 6px; float:left;}
.top_nav ul li a:hover span{color:#b48c3e}
.top_nav ul li.locate a{background-position:0px 0px;}
.top_nav ul li.historys a{background-position:-83px 0px;}
.top_nav ul li.intervals a{background-position:-166px 0px;}
.top_nav ul li.fences a{background-position:-249px 0px;}
.top_nav ul li.equipment a{background-position:-332px 0px;}
.top_nav ul li.management a{background-position:-415px 0px;}
.top_nav ul li.feedback a{background-position:-498px 0px;}
.top_nav ul li.help a{background-position:-581px 0px;}
.top_nav ul li.resource-download a{background-position:-664px 0px;}

.top_nav ul li.locate a:hover, .top_nav ul li.locate a.selected{background-position:0px -66px}
.top_nav ul li.historys a:hover, .top_nav ul li.historys a.selected{background-position:-83px -66px;}
.top_nav ul li.intervals a:hover, .top_nav ul li.intervals a.selected{background-position:-166px -66px;}
.top_nav ul li.fences a:hover, .top_nav ul li.fences a.selected{background-position:-249px -66px;}
.top_nav ul li.equipment a:hover, .top_nav ul li.equipment a.selected{background-position:-332px -66px}
.top_nav ul li.management a:hover, .top_nav ul li.management a.selected{background-position:-415px -66px}
.top_nav ul li.feedback a:hover, .top_nav ul li.feedback a.selected{background-position:-498px -66px}
.top_nav ul li.help a:hover, .top_nav ul li.help a.selected{background-position:-581px -66px;}
.top_nav ul li.resource-download a:hover, .top_nav ul li.resource-download a.selected{background-position:-664px -66px;}

/*地图*/
#map{width:100%; float:left;}
.map_topbg{background:url(/images/shad_h.png) repeat-x; z-index:88; width:100%; position:absolute; height:6px;}

.activationStatusMsg-ol{margin-left:250px;font-size:16px}
.activationStatusMsg-li{text-align:left;color:#3786ce}

/*历史轨迹*/
.history{position:absolute; z-index:99; top:68px; right:10px}
.histroy_box{float:left; border:1px solid #e4d5c6; background:#ebe4dd; padding:4px; margin:13px 0 0 0;}

.table{border:1px solid #e4d5c6; background:#FFF;width: 100%}
.table td.col2{border-bottom:1px solid #f2ebe3; height:35px; background:#fefaf7; border-top:1px solid #FFF;}
.table td.col5{border-right:1px solid #e4d5c6;background:#fef9e5;}
.table td.col3{height:32px; background:url(/images/tabbg.png) repeat-x}
.table td.col6{background:#f9f6f1; border-bottom:1px solid #efeae6}
.table td.col7{background:#f9f6f1;}
.table td.col8{background:#FFF; border-bottom:1px solid #efeae6}

.dial_key_box{border:1px solid #e4d5c6; background:#FFF;}
.dial_key_box td.col2{border-bottom:1px solid #f2ebe3; height:35px; background:#fefaf7; border-top:1px solid #FFF;}
.dial_key_box td.col5{border-right:1px solid #e4d5c6;background:#fef9e5;}
.dial_key_box td.col4{height:38px;}
.dial_key_box td.col3{height:32px; background:url(/images/tabbg.png) repeat-x}
.dial_key_box td.col6{background:#f9f6f1; border-bottom:1px solid #efeae6}
.his_input{border:1px solid #d6cbc1; width:87px; height:17px; color:#956643; padding-left:3px}
.his_input1{border:1px solid #d6cbc1; width:64px; height:17px; color:#956643; padding-left:6px}
.his_input2{border:1px solid #d6cbc1; width:84px; height:17px; color:#956643; padding-left:6px}
.his_butgo,.his_butpause,.his_butstop,.select_but,.res_but,.act_but,.demo_play,.add_but,.return_but,.clear_contacts_but{background:url(/images/but.png); width:57px; height:26px; border:none; cursor:pointer; float:left}
.his_but{background:url(/images/but.png); width:57px; height:26px; border:none; cursor:pointer; margin: 5px 0 5px 0;}
.his_but{background-position:0px 0px;}
.his_butgo{background-position:0px -26px}
.demo_play{background-position:0px -260px};
.his_butpause{background-position:0px -234px}
.his_butstop{background-position:0px -52px}
.select_but{background-position:0px -156px}/*查询*/
.res_but{background-position:0px -208px}/*恢复设备*/
.act_but{background-position:0px -182px}/*激活*/
.add_but{background-position:0px -104px}/*添加*/
.return_but{background-position:0px -130px}/*返回*/
.clear_contacts_but{background:url(/images/but.png); width:90px; height:26px; border:none; cursor:pointer; margin: 5px 0 5px 0;}
.clear_contacts_but{background-position:0px -312px}/*清空电话簿*/
.m15{margin:0 15px 0 0}
.m50{margin:0 15px 0 42px}
.mr20{margin:0 0 0 20px}

/*间隔设置*/
.interval{position:absolute; z-index:99; top:8px; left:190px}

.select_time{float:left; width:64px;}
.time_pos{position:absolute; top:79px; left:243px;_top:80px; }
.his_pos{position:absolute; top:47px; left:191px;_top:48px; }
.fence_pos{position:absolute; top:117px; left:88px;_top:122px;}
.select_inp{border:1px solid #d6cbc1; width:58px; height:21px; float:left; line-height:21px; padding-left:6px; cursor:pointer}
.select_time ul{width:62px; float:left; background:#f2ebe1; border:1px solid #d6cbc1; border-bottom:none; border-top:none}
.select_time ul li{float:left; width:56px; height:22px; border-bottom:1px solid #d6cbc1;color:#956643; cursor:pointer; padding-left:6px; line-height:22px}
/*围栏管理*/
.fence{position:absolute; z-index:99; top:8px; right:340px}
.equ{position:absolute; z-index:99; top:35px; left:189px}
/*设备设置*/
.target_config{position:absolute; z-index:99; top:8px; right:275px}
.icon{float:left; border:1px solid #e4d5c6; background:#FFF;}
.icon ul{width:260px; float:left; margin:12px; display:inline}
.icon ul li{width:65px; float:left; height:80px;}
.icon ul li span{background:url(/images/icon.png) no-repeat; width:50px; height:50px; float:left; margin:5px 0 0 8px;}
.icon ul li span.call{background-position:0 0}
.icon ul li span.nocall{background-position:-50px 0px}
.icon ul li span.whitename{background-position:-100px 0px}
.icon ul li span.warning{background-position:-150px 0px}
.icon ul li span.clock{background-position:-200px 0px}
.icon ul li span.message{background-position:-250px 0px}
.icon ul li span.phonebook{background-position:-100px 0px}
.icon ul li span.terminalshutdown{background-position:-300px 0px}
.icon ul li p{margin:0; padding:0; line-height:20px; text-align:center; width:65px; float:left}
.icon ul li a:hover{background:url(/images/iconbg.png) no-repeat;display:block;width:65px; height:80px;}
/*设备拨号*/
.call{position:left; z-index:99; top:35px; left:10px}
.dial-key{position:absolute; z-index:99; top:8px; right:75px}
.select_inp1{background:url(/images/inputbg.png) no-repeat; width:77px; height:21px; float:left; line-height:21px; padding-left:6px; cursor:pointer; margin:0 0 0 12px; display:inline}
.select_time1{float:left; width:83px;}
.select_time1 ul{width:81px; float:left; background:#f2ebe1; border:1px solid #d6cbc1; border-bottom:none; border-top:none}
.select_time1 ul li{float:left; width:75px; height:22px; border-bottom:1px solid #d6cbc1;color:#956643; cursor:pointer; padding-left:6px; line-height:22px}
.time1_pos{position:absolute; top:79px; left:18px;_top:80px;}

.phone-book{position:absolute; z-index:99; top:8px; right:275px}

.white_namebox{float:left; line-height:30px; margin:7px 0 0 0}
.his_input3{border:1px solid #d6cbc1; width:125px; height:17px; color:#956643; padding-left:6px; float:left}
.white_namebox span{float:left; margin:0 0 0 5px; cursor:pointer}
.warning_img{float:left; margin:0 5px 0 0;}
.prompt{margin:10px;}
.tellist{float:left;margin:10px 0 10px 0;}
.tellist ul{border:1px solid #d6cbc1; float:left; width:200px; height:118px; overflow:auto;scrollbar-face-color: #FFFFFF; scrollbar-shadow-color: #d6bea5; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #d6bea5; scrollbar-darkshadow-color: #FFFFFF; scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #d6bea5}
.tellist ul li{float:left; height:26px; line-height:26px; width:170px;}
.tellist ul li span{float:left; width:145px; margin:0 0 0 8px; font-weight:bold}
.tellist ul li p{float:right; width:16px; height:16px; margin:5px 0 0 0; padding:0; cursor:pointer}
.writcol{color:#d65127}
.hint{color:#3786ce}
.ui-friendship-remind{margin-top: 10px;}
.li-friendship-remind{color:blue;font-size: 16px;margin-top: 2px}
.remind_lin{line-height:42px}
.remind_lin span.on,.remind_lin span.off{background:url(/images/onoff.png); width:66px; height:29px; cursor:pointer; float:left}
.remind_lin span.on{background-position:0px 0px}
.remind_lin span.off{background-position:0px -29px}

.clock_lin span.on,.clock_lin span.off{background:url(/images/onoff.png); width:66px; height:29px; cursor:pointer; float:left}
.clock_lin span.on{background-position:0px 0px}
.clock_lin span.off{background-position:0px -29px}

#waitOnTime{
    background: url(/images/onetime.gif) no-repeat;
    width: 120px;height: 30px;
    position:absolute; 
    margin-left:560px;
    z-index: 10;
    
}
/*定列表位*/
#history-div{
    position:absolute;
    margin-left: 72%;
    margin-top:60px;
    z-index: 200;
}
/*历史轨迹*/
.location_history{float:left; border:3px solid #fda045; background:#FFF; width:281px;}
.location_history h2{background:#fbefd9; line-height:28px; border-bottom:1px solid #f7d3af; text-align:center;
                color:#703a0f; font-size:12px; margin:0; padding:0; float:left; width:281px;cursor: pointer;}
.location_history ul{float:left; width:281px; height:300px; overflow:auto}
.location_history ul{scrollbar-face-color: #FFFFFF; scrollbar-shadow-color: #d6bea5; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #d6bea5; scrollbar-darkshadow-color: #FFFFFF; scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #d6bea5}
.location_history ul li{float:left; width:235px; border-bottom:1px solid #dad8d7; margin:8px 5px 0 10px; background:url(/images/dot2.png) no-repeat 0px 2px; display:inline}
.location_history ul li .local_t{float:left; width:235px; line-height:20px; margin:0 0 5px 10px; display:inline}
.location_history ul li .local_t span{color:#8d8e8a; float:left; width:170px;}
.location_history ul li .local_t em{float:left; width:60px; font-style:normal}
.location_history ul li .local_t b{color:#bd8455; float:left; width:170px; font-weight:normal}

.market_tip{float:left; background:#FFF;}
.market_tip{float:left; background:#FFF; width:261px;}
.market_tip ul{float:left; width:100%; height:130px; overflow:auto}
.market_tip ul{scrollbar-face-color: #FFFFFF; scrollbar-shadow-color: #d6bea5; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #d6bea5; scrollbar-darkshadow-color: #FFFFFF; scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #d6bea5}
.market_tip ul li{float:left; width:235px;  margin:8px 5px 0 10px; background:url(/images/dot2.png) no-repeat 0px 2px; display:inline}
.market_tip ul li .local_t{float:left; width:235px; line-height:20px; margin:0 0 5px 10px; display:inline}
.market_tip ul li .local_t span{color:#8d8e8a; float:left; width:170px;}
.market_tip ul li .local_t em{float:left; width:60px; font-style:normal}
.market_tip ul li .local_t b{color:#bd8455; float:left; width:170px; font-weight:normal}

/*操作日志列表*/
.operatlist{float:left;  width:281px;position:absolute; top:69px;right:0; z-index:2; }
.operatlist ul{float:left; width:278px; height:278px; overflow:auto;border:3px solid #fda045; background:#fcf3e2;border-top:none;border-bottom:none;border-right:none; }
.operatlist ul{scrollbar-face-color: #FFFFFF; scrollbar-shadow-color: #d6bea5; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #d6bea5; scrollbar-darkshadow-color: #FFFFFF; scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #d6bea5}
.operatlist ul li{float:left; width:260px; border-bottom:1px solid #e4d5c6; margin:8px 0 0 10px; background:url(/images/dot2.png) no-repeat 0px 2px; display:inline}
.operatlist ul li{float:left; width:245px; line-height:20px; margin:5px 0 5px 10px; display:inline}
.operatlist ul li span{color:#814f27; float:left; width:150px; margin:0 0 10px 0}
.operatlist ul li em{float:left; width:80px; font-style:normal; margin:0 0 10px 13px; font-size:10px; color:#797b73}
.operatlist p{background:url(/images/location.png) no-repeat; float:left; height:9px; width:281px; margin:0; padding:0}

/* 手机管理*/
.equ_box{float:left; border:1px solid #cfb69d;background:#f7f9fc;}
.equ_box td.equcol{border-bottom:1px solid #ebceb2; border-top:1px solid #FFF; line-height:35px; padding-left:8px;}
.equ_box td.equco2{background:url(/images/tabbg.png) repeat-x; height:32px;order-left:1px solid #FFF; border-right:1px solid #dacabf; padding-left:8px;}
.equ_box td.equco3{border-right:none}

.equ_box1{float:left; border:1px solid #cfb69d;background:#f7f9fc;color:#b47847;}
.equ_box1 td.equpad{padding-left:42px; line-height:38px;}
.equ_box1 span{background:url(/images/input.png) no-repeat; width:179px; height:29px; float:left;}
.equ_box1 .equinput{line-height:29px; color:#956643; background:none; margin:3px 8px 0 8px; height:20px; line-height:20px; border:none}

.contacts{ width:358px;height:230px; overflow-y:scroll; float:left;scrollbar-face-color: #FFFFFF; scrollbar-shadow-color: #d6bea5; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #d6bea5; scrollbar-darkshadow-color: #FFFFFF; scrollbar-track-color: #FFFFFF; scrollbar-arrow-color: #d6bea5;}
.contacts_indent{text-indent:5px}