<script type="text/javascript" src="/javascripts/fence-list.js"></script>
<!--围栏管理开始-->
<div class="fence">
    <div class="histroy_box">
        <a id="fence-list-icon-close-circle" class="icon-close-circle" style="float:right;margin-right:-15px"></a>
        <form id="fenceForm">
            <table id="tb_fence" style=" width:300px; height:200px;" border="0" cellspacing="0" cellpadding="0" class="table">
                <tr>
                    <td align="center" class="col3" style="font-weight: bold;">名称</td>
                    <td class="col3" style="font-weight: bold;">半径（米）</td>
                    <td class="col3" style="font-weight: bold;">状态</td>
                    <td class="col3" style="font-weight: bold;">操作</td>
                </tr>

                <tr id="fenceTr0">
                    <td width="125" align="center" class="col2">家</td>
                    <td width="92" class="col2">1000</td>
                    <td width="70" class="col2">

                        <img alt="围栏状态" src="resources/images/fence-status-open.png"/>


                    </td>
                    <td width="61" class="col2">
                        <a href="#" id="fenceOperation0"><img src="/lbs-webapp/resources/images/dot.png" width="19" height="19" /></a>
                    </td>
                </tr>

                <tr id="fenceTr1">
                    <td width="125" align="center" class="col2">围栏31</td>
                    <td width="92" class="col2">1000</td>
                    <td width="70" class="col2">

                        <img alt="围栏状态" src="resources/images/fence-status-open.png"/>


                    </td>
                    <td width="61" class="col2">
                        <a href="#" id="fenceOperation1"><img src="/lbs-webapp/resources/images/dot.png" width="19" height="19" /></a>
                    </td>
                </tr>

                <tr id="fenceTr2">
                    <td width="125" align="center" class="col2">围栏6</td>
                    <td width="92" class="col2">1000</td>
                    <td width="70" class="col2">

                        <img alt="围栏状态" src="resources/images/fence-status-open.png"/>


                    </td>
                    <td width="61" class="col2">
                        <a href="#" id="fenceOperation2"><img src="/lbs-webapp/resources/images/dot.png" width="19" height="19" /></a>
                    </td>
                </tr>

                <tr id="fenceTr3">
                    <td width="125" align="center" class="col2">围栏4</td>
                    <td width="92" class="col2">1000</td>
                    <td width="70" class="col2">


                        <img alt="围栏状态" src="resources/images/fence-status-close.png"/>

                    </td>
                    <td width="61" class="col2">
                        <a href="#" id="fenceOperation3"><img src="/lbs-webapp/resources/images/dot.png" width="19" height="19" /></a>
                    </td>
                </tr>

                <tr id="fenceTr4">
                    <td width="125" align="center" class="col2">231</td>
                    <td width="92" class="col2">1000</td>
                    <td width="70" class="col2">

                        <img alt="围栏状态" src="resources/images/fence-status-open.png"/>


                    </td>
                    <td width="61" class="col2">
                        <a href="#" id="fenceOperation4"><img src="/lbs-webapp/resources/images/dot.png" width="19" height="19" /></a>
                    </td>
                </tr>

            </table>
        </form>
    </div>
</div>
<!--围栏管理结束-->