<div id="history-dialog" class="history dialog">
    <div class="histroy_box">
        <a href="#" id="history-icon-close-circle" class="icon-close-circle" style="float:right;margin-right:-18px"></a>
        <form id="historyForm" novalidate="novalidate">
            <table class="table">
                <tbody><tr>
                    <td width="81" align="center" class="col2" style="font-weight: bold;">开始时间：</td>
                    <td width="104" class="col2">
                        <label for="textfield"></label>
                        <input class="history-text datepicker hasDatepicker" id="startDay" name="startDay" value="2014-12-19" readonly="readonly">
                    </td>
                    <td width="103" class="col2">
                        <input type="text" id="startHistoryTime" name="startHistoryTime" class="select_inp" value="06:00" readonly="readonly" autocomplete="OFF">
                    </td>
                </tr>
                <tr>
                    <td align="center" class="col2" style="font-weight: bold;">结束时间：</td>
                    <td class="col2"><input class="history-text datepicker hasDatepicker" id="endDay" name="endDay" value="2014-12-20" readonly="readonly"></td>
                    <td class="col2"><input type="text" id="endHistoryTime" name="endHistoryTime" class="select_inp" value="18:00" readonly="readonly" autocomplete="OFF"></td>
                </tr>
                <tr>
                    <td colspan="3"><div id="historyOperationResultDiv" align="center"></div></td>
                </tr><tr>
                    <td colspan="3"><input type="submit" id="queryHistoryBtn" class="select_but m50 ui-button ui-widget ui-state-default ui-corner-all" value="" role="button" aria-disabled="false">
                        <input type="button" id="playPointBtn" class="his_butgo m15 ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false">
                        <a href="http://www.dikool.com/static/swf/play.swf" id="demonstrate"><input type="button" class="demo_play m15 ui-button ui-widget ui-state-default ui-corner-all" role="button" aria-disabled="false"></a>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><div id="historyMarkerResultDiv" align="center"></div></td>
                </tr><tr>
                </tr><tr>
                    <td height="51" colspan="3" class="col6" style="line-height:17px; padding:7px"><strong>友情提示：</strong><br>
                        <ol class="hint">
                            <li>轨迹查询时，开始时间与结束时间的间隔不能超过2天!</li>
                            <li>由于轨迹点比较多，建议放大地图后再进行查询</li>
                        </ol>
                    </td>
                </tr>
                </tbody></table>
        </form>
    </div>
</div>
