<div id="interval-dialog" class="interval dialog">
    <div class="histroy_box">
        <div id="dialog-confirm" title="保存提示" style="display: none;">
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>间隔设置内容已被修改，是否保存?</p>
        </div>
        <a href="#" id="interval-icon-close-circle" class="icon-close-circle" style="float:right;margin-right:-15px"></a>
        <form id="intervalForm" action="config/updateInterval.htm" method="post" novalidate="novalidate">
            <table class="table" border="0" cellspacing="0" cellpadding="0">
                <tbody><tr>
                    <td align="center" class="col3">&nbsp;</td>
                    <td class="col3" style="font-weight: bold;">开始时间</td>
                    <td class="col3" style="font-weight: bold;">结束时间</td>
                    <td class="col3" style="font-weight: bold;">间隔(分钟)</td>
                    <td class="col3" style="font-weight: bold;">是否生效</td>
                </tr>
                <tr>
                    <td width="70" align="center" class="col2" style="font-weight: bold;">时段1： <input type="hidden" id="sid0" name="sid0" value="f97b314b-e73c-4734-900d-f0e025ec2e75" class="time">
                    </td>
                    <td width="84" class="col2"><input type="text" id="startTime0" name="startTime0" value="08:00" class="his_input1" readonly="readonly" autocomplete="OFF"></td>
                    <td width="83" class="col2"><input type="text" id="endTime0" name="endTime0" value="22:00" class="his_input1" readonly="readonly" autocomplete="OFF"></td>
                    <td width="79" class="col2"><select id="periods0" name="periods0" class="select_inp">

                        <option value="3">3
                        </option>

                        <option value="4">4
                        </option>

                        <option value="5">5
                        </option>

                        <option value="6">6
                        </option>

                        <option value="7">7
                        </option>

                        <option value="8">8
                        </option>

                        <option value="9">9
                        </option>

                        <option value="10">10
                        </option>

                        <option value="11">11
                        </option>

                        <option value="12">12
                        </option>

                        <option value="13">13
                        </option>

                        <option value="14">14
                        </option>

                        <option value="15">15
                        </option>

                        <option value="16">16
                        </option>

                        <option value="17">17
                        </option>

                        <option value="18">18
                        </option>

                        <option value="19">19
                        </option>

                        <option value="20">20
                        </option>

                        <option value="21">21
                        </option>

                        <option value="22">22
                        </option>

                        <option value="23">23
                        </option>

                        <option value="24">24
                        </option>

                        <option value="25">25
                        </option>

                        <option value="26">26
                        </option>

                        <option value="27">27
                        </option>

                        <option value="28">28
                        </option>

                        <option value="29">29
                        </option>

                        <option value="30" selected="selected">30
                        </option>

                        <option value="31">31
                        </option>

                        <option value="32">32
                        </option>

                        <option value="33">33
                        </option>

                        <option value="34">34
                        </option>

                        <option value="35">35
                        </option>

                        <option value="36">36
                        </option>

                        <option value="37">37
                        </option>

                        <option value="38">38
                        </option>

                        <option value="39">39
                        </option>

                        <option value="40">40
                        </option>

                        <option value="41">41
                        </option>

                        <option value="42">42
                        </option>

                        <option value="43">43
                        </option>

                        <option value="44">44
                        </option>

                        <option value="45">45
                        </option>

                        <option value="46">46
                        </option>

                        <option value="47">47
                        </option>

                        <option value="48">48
                        </option>

                        <option value="49">49
                        </option>

                        <option value="50">50
                        </option>

                        <option value="51">51
                        </option>

                        <option value="52">52
                        </option>

                        <option value="53">53
                        </option>

                        <option value="54">54
                        </option>

                        <option value="55">55
                        </option>

                        <option value="56">56
                        </option>

                        <option value="57">57
                        </option>

                        <option value="58">58
                        </option>

                        <option value="59">59
                        </option>

                        <option value="60">60
                        </option>


                    </select></td>
                    <td class="col2">
                        <input type="checkbox" id="enable0" name="enable0" class="input-check" checked="" style="position: absolute; z-index: -1; visibility: hidden;"><span class="jquery-checkbox jquery-checkbox-checked"><span class="mark"><img src="/images/empty.png"></span></span>
                    </td>
                </tr>


                <tr>
                    <td width="70" align="center" class="col2" style="font-weight: bold;">时段2： <input type="hidden" id="sid1" name="sid1" value="5c0a67ec-254f-4155-bca2-d7ef18514582" class="time">
                    </td>
                    <td width="84" class="col2"><input type="text" id="startTime1" name="startTime1" value="12:00" class="his_input1" readonly="readonly" autocomplete="OFF"></td>
                    <td width="83" class="col2"><input type="text" id="endTime1" name="endTime1" value="23:30" class="his_input1" readonly="readonly" autocomplete="OFF"></td>
                    <td width="79" class="col2"><select id="periods1" name="periods1" class="select_inp">

                        <option value="3">3
                        </option>

                        <option value="4">4
                        </option>

                        <option value="5">5
                        </option>

                        <option value="6">6
                        </option>

                        <option value="7">7
                        </option>

                        <option value="8">8
                        </option>

                        <option value="9">9
                        </option>

                        <option value="10" selected="selected">10
                        </option>

                        <option value="11">11
                        </option>

                        <option value="12">12
                        </option>

                        <option value="13">13
                        </option>

                        <option value="14">14
                        </option>

                        <option value="15">15
                        </option>

                        <option value="16">16
                        </option>

                        <option value="17">17
                        </option>

                        <option value="18">18
                        </option>

                        <option value="19">19
                        </option>

                        <option value="20">20
                        </option>

                        <option value="21">21
                        </option>

                        <option value="22">22
                        </option>

                        <option value="23">23
                        </option>

                        <option value="24">24
                        </option>

                        <option value="25">25
                        </option>

                        <option value="26">26
                        </option>

                        <option value="27">27
                        </option>

                        <option value="28">28
                        </option>

                        <option value="29">29
                        </option>

                        <option value="30">30
                        </option>

                        <option value="31">31
                        </option>

                        <option value="32">32
                        </option>

                        <option value="33">33
                        </option>

                        <option value="34">34
                        </option>

                        <option value="35">35
                        </option>

                        <option value="36">36
                        </option>

                        <option value="37">37
                        </option>

                        <option value="38">38
                        </option>

                        <option value="39">39
                        </option>

                        <option value="40">40
                        </option>

                        <option value="41">41
                        </option>

                        <option value="42">42
                        </option>

                        <option value="43">43
                        </option>

                        <option value="44">44
                        </option>

                        <option value="45">45
                        </option>

                        <option value="46">46
                        </option>

                        <option value="47">47
                        </option>

                        <option value="48">48
                        </option>

                        <option value="49">49
                        </option>

                        <option value="50">50
                        </option>

                        <option value="51">51
                        </option>

                        <option value="52">52
                        </option>

                        <option value="53">53
                        </option>

                        <option value="54">54
                        </option>

                        <option value="55">55
                        </option>

                        <option value="56">56
                        </option>

                        <option value="57">57
                        </option>

                        <option value="58">58
                        </option>

                        <option value="59">59
                        </option>

                        <option value="60">60
                        </option>


                    </select></td>
                    <td class="col2">
                        <input type="checkbox" id="enable1" name="enable1" class="input-check" checked="" style="position: absolute; z-index: -1; visibility: hidden;"><span class="jquery-checkbox jquery-checkbox-checked"><span class="mark"><img src="/images/empty.png"></span></span>
                    </td>
                </tr>


                <tr>
                    <td width="70" align="center" class="col2" style="font-weight: bold;">时段3： <input type="hidden" id="sid2" name="sid2" value="49401185-3b63-4ac7-a5b0-1aee6a3329a6" class="time">
                    </td>
                    <td width="84" class="col2"><input type="text" id="startTime2" name="startTime2" value="00:00" class="his_input1" readonly="readonly" autocomplete="OFF"></td>
                    <td width="83" class="col2"><input type="text" id="endTime2" name="endTime2" value="18:00" class="his_input1" readonly="readonly" autocomplete="OFF"></td>
                    <td width="79" class="col2"><select id="periods2" name="periods2" class="select_inp">

                        <option value="3">3
                        </option>

                        <option value="4">4
                        </option>

                        <option value="5">5
                        </option>

                        <option value="6">6
                        </option>

                        <option value="7">7
                        </option>

                        <option value="8">8
                        </option>

                        <option value="9">9
                        </option>

                        <option value="10" selected="selected">10
                        </option>

                        <option value="11">11
                        </option>

                        <option value="12">12
                        </option>

                        <option value="13">13
                        </option>

                        <option value="14">14
                        </option>

                        <option value="15">15
                        </option>

                        <option value="16">16
                        </option>

                        <option value="17">17
                        </option>

                        <option value="18">18
                        </option>

                        <option value="19">19
                        </option>

                        <option value="20">20
                        </option>

                        <option value="21">21
                        </option>

                        <option value="22">22
                        </option>

                        <option value="23">23
                        </option>

                        <option value="24">24
                        </option>

                        <option value="25">25
                        </option>

                        <option value="26">26
                        </option>

                        <option value="27">27
                        </option>

                        <option value="28">28
                        </option>

                        <option value="29">29
                        </option>

                        <option value="30">30
                        </option>

                        <option value="31">31
                        </option>

                        <option value="32">32
                        </option>

                        <option value="33">33
                        </option>

                        <option value="34">34
                        </option>

                        <option value="35">35
                        </option>

                        <option value="36">36
                        </option>

                        <option value="37">37
                        </option>

                        <option value="38">38
                        </option>

                        <option value="39">39
                        </option>

                        <option value="40">40
                        </option>

                        <option value="41">41
                        </option>

                        <option value="42">42
                        </option>

                        <option value="43">43
                        </option>

                        <option value="44">44
                        </option>

                        <option value="45">45
                        </option>

                        <option value="46">46
                        </option>

                        <option value="47">47
                        </option>

                        <option value="48">48
                        </option>

                        <option value="49">49
                        </option>

                        <option value="50">50
                        </option>

                        <option value="51">51
                        </option>

                        <option value="52">52
                        </option>

                        <option value="53">53
                        </option>

                        <option value="54">54
                        </option>

                        <option value="55">55
                        </option>

                        <option value="56">56
                        </option>

                        <option value="57">57
                        </option>

                        <option value="58">58
                        </option>

                        <option value="59">59
                        </option>

                        <option value="60">60
                        </option>


                    </select></td>
                    <td class="col2">
                        <input type="checkbox" id="enable2" name="enable2" class="input-check" checked="" style="position: absolute; z-index: -1; visibility: hidden;"><span class="jquery-checkbox jquery-checkbox-checked"><span class="mark"><img src="/images/empty.png"></span></span>
                    </td>
                </tr>


                <tr>
                    <td width="70" align="center" class="col2" style="font-weight: bold;">时段4： <input type="hidden" id="sid3" name="sid3" value="81184b8e-0472-462c-8ff3-41f79b526242" class="time">
                    </td>
                    <td width="84" class="col2"><input type="text" id="startTime3" name="startTime3" value="19:00" class="his_input1" readonly="readonly" autocomplete="OFF"></td>
                    <td width="83" class="col2"><input type="text" id="endTime3" name="endTime3" value="20:00" class="his_input1" readonly="readonly" autocomplete="OFF"></td>
                    <td width="79" class="col2"><select id="periods3" name="periods3" class="select_inp">

                        <option value="3">3
                        </option>

                        <option value="4">4
                        </option>

                        <option value="5">5
                        </option>

                        <option value="6">6
                        </option>

                        <option value="7">7
                        </option>

                        <option value="8">8
                        </option>

                        <option value="9">9
                        </option>

                        <option value="10" selected="selected">10
                        </option>

                        <option value="11">11
                        </option>

                        <option value="12">12
                        </option>

                        <option value="13">13
                        </option>

                        <option value="14">14
                        </option>

                        <option value="15">15
                        </option>

                        <option value="16">16
                        </option>

                        <option value="17">17
                        </option>

                        <option value="18">18
                        </option>

                        <option value="19">19
                        </option>

                        <option value="20">20
                        </option>

                        <option value="21">21
                        </option>

                        <option value="22">22
                        </option>

                        <option value="23">23
                        </option>

                        <option value="24">24
                        </option>

                        <option value="25">25
                        </option>

                        <option value="26">26
                        </option>

                        <option value="27">27
                        </option>

                        <option value="28">28
                        </option>

                        <option value="29">29
                        </option>

                        <option value="30">30
                        </option>

                        <option value="31">31
                        </option>

                        <option value="32">32
                        </option>

                        <option value="33">33
                        </option>

                        <option value="34">34
                        </option>

                        <option value="35">35
                        </option>

                        <option value="36">36
                        </option>

                        <option value="37">37
                        </option>

                        <option value="38">38
                        </option>

                        <option value="39">39
                        </option>

                        <option value="40">40
                        </option>

                        <option value="41">41
                        </option>

                        <option value="42">42
                        </option>

                        <option value="43">43
                        </option>

                        <option value="44">44
                        </option>

                        <option value="45">45
                        </option>

                        <option value="46">46
                        </option>

                        <option value="47">47
                        </option>

                        <option value="48">48
                        </option>

                        <option value="49">49
                        </option>

                        <option value="50">50
                        </option>

                        <option value="51">51
                        </option>

                        <option value="52">52
                        </option>

                        <option value="53">53
                        </option>

                        <option value="54">54
                        </option>

                        <option value="55">55
                        </option>

                        <option value="56">56
                        </option>

                        <option value="57">57
                        </option>

                        <option value="58">58
                        </option>

                        <option value="59">59
                        </option>

                        <option value="60">60
                        </option>


                    </select></td>
                    <td class="col2">
                        <input type="checkbox" id="enable3" name="enable3" class="input-check" checked="" style="position: absolute; z-index: -1; visibility: hidden;"><span class="jquery-checkbox jquery-checkbox-checked"><span class="mark"><img src="/images/empty.png"></span></span>
                    </td>
                </tr>


                <tr>
                    <td colspan="5" align="center">
                        <div class="error"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" align="center"><input type="submit" id="intervalBId" class="his_but m5 ui-button ui-widget ui-state-default ui-corner-all" style="float:center" value="" role="button" aria-disabled="false"></td>
                </tr>
                </tbody></table>
        </form>
    </div>
</div>